@import '../media', '../mixins';

.services {
    padding: 42px 30px 30px 34px;
    
    @include desktop {
        position: relative;
        top: 70px;
        max-width: 1439px;
        width: 100%;
        padding-inline: 24px;
    }

    @include mobile {
        padding-inline: 16px;
    }

    &__list {
        column-gap: 5px;
        flex-wrap: wrap;
        margin-bottom: 20px;

        @include desktop {
            overflow-x: scroll;
            flex-wrap: nowrap;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        box-sizing: border-box;
        border-radius: 6px;
        color: var(--color-gray-alt);

        @include hover {
            border: 2px solid var(--color-light-green-alt);

            .services__link {
                color: var(--color-dark);
            }
        }
    }

    &__link {
        color: var(--color-gray-alt);
        padding-inline: 20px;
        white-space: nowrap;
    }

    &__info {
        display: flex;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
        }

    }

    &__info--left {
        max-width: 490px;
        width: 100%;

        @include desktop {
            max-width: 50%;
            margin-right: 48px;
        }

        @include mobile {
            max-width: 100%;
        }
    }

    &__info--text {
        max-height: 165px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        margin-bottom: 13px;

        & p {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }
    }

    &__info--button {
        position: relative;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        padding-left: 30px;
        margin-bottom: 16px;

        @include hover {
            color: var(--color-purple);
        }

        &::before {
            content: url(../../img/two-arrows-bottom.svg);
            position: absolute;
            left: 0;
        }
    }

    &__info--image {
        @include mobile {
            margin-inline: -16px;           
        }
    }

    &__info--image img{
        object-fit: contain;
        border-radius: 5px;
        width: 100%;

        @include mobile {
            border-radius: 0;
        }
    }

}

.title {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    &__text {
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.6px;
    }

    &__feedback {
        display: flex;
        column-gap: 32px;
        
        @include desktop {
            display: none;
        }
    }

    &__button {
        justify-content: space-between;
        align-items: center;
        column-gap: 8px;
        transition: var(--transition-duration);

        @include hover {
            color: var(--color-purple);
            cursor: pointer;

            & .purple-button {
                opacity: 0.8;
            }
        } 
    }

}

