.purple-button {
    position: relative;
    background-color: var(--color-purple);
    width: 40px;
    height: 40px;
    border-radius: 50%;

    & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
